<?xml version="1.0" encoding="UTF-8"?>
<!-- IDE开发测试时的默认配置 -->
<Configuration status="WARN" monitorInterval="10" packages="cn.sunline.adp.cedar.base.logging.filter">
	<!-- 
	    2016.7.4 log4j配置调整差异说明（与之前版本）
	    
	    1、常用开关提取为属性，方便修改
	    
	    2、滚动日志采用log4j原生机制（执行动态路径的配置、失效文件的自动清理）
	    
	    3、日志级别的控制进行梳理（系统日志、业务日志、专项日志、功能性日志、其他（第三方日志、系统组件日志））
	    
	    4、自定义日志级别 通过配置的方式定义(之前采用编码的方式)
	    
	    5、所有系统专项日志统一加层目录（避免日志压缩后同一级目录下会比较乱）
	    
	    6、默认Logger includeLocation 属性设置为false，否则对性能没要求的环境可以设置为true（比如：开发环境）（属于性能优化10-20倍的提升）
	         目前行号无法打印，但类名还可以打印
	    
	    7、appender参数优化：immediateFlush="false" bufferSize="${buffer_size}"（属于性能优化2倍的提升）
	    
	    8、系统日志统一sys开头、业务日志统一biz开头（程序内部规则）
	    
		9、log4j系统参数：
			LOG_OPTS="-Dlog4j2.is.webapp=false  -Dlog4j2.enable.threadlocals=true"
			LOG_OPTS="$LOG_OPTS  -Dlog4j.initialReusableMsgSize=300"
			LOG_OPTS="$LOG_OPTS  -DAsyncLoggerConfig.RingBufferSize=1048576"  
			  
	 	10、轮训日志按线程明定义，并在LogType中添加pollThread，并去掉没用的类型,具体参数：poll_thread(appender)
	 	    轮训日志，不管采用什么机制调 但入口要保持统一
	 -->
		
	<!-- 属性的定义必须放在 -->
	<Properties>
		<!-- 大的日志级别开关，其他Logger请在下面配置中直接修改 -->
		<property name="sys_log_level">DEBUG</property><!-- 系统日志级别 -->
		<property name="biz_log_level">DEBUG</property><!-- 业务日志级别 -->
		<property name="biz_onl_log_level">DEBUG</property><!-- 业务联机日志级别 -->
		<property name="biz_bat_log_level">DEBUG</property><!-- 业务批量日志级别 -->

		<property name="pkg_log_level">info</property><!-- 系统报文及应用报文流水日志 -->
		<property name="log4j_log_level">info</property><!-- log4j自身的日志，如重新加载配置、log4j的异常等信息 -->
		
		<property name="profile_log_level">PROF</property><!-- 性能日志打印开关，开启配置：profile 关闭配置：off -->
		<property name="other_log_level">debug</property><!-- 没有被控制住的一些日志，漏网之鱼？ -->

		<!-- 是否打印所在的行号(对性能影响比较大),开发测试环境 -->
		<property name="enable_log_location">true</property>
		<!-- 分钟,动态日志15分钟内没有使用则自动清理掉 -->
		<property name="dynamic_log_live_time">15</property>
		
		<!-- 单次写入日志文件的块大(byte) -->
		<property name="buffer_size">1048576</property>
		
		
		<!-- 跟运行期交易无关日志
		[%C:%L] 
		[%C:%L]
		 -->
		<property name="default_pattern">
		  <![CDATA[ [%-5p][%d{HH:mm:ss,SSS}][%t][%-1X{token}][%C:%L][%m]%n ]]>
		</property>
		 

		<!-- 联机交易日志 prcscd [%-1X{transDate}] -->
		<property name="onl_pattern">
		  <![CDATA[ [%-5p][%d{HH:mm:ss,SSS}][%t][%-1X{token}][%-1X{transSeq}][%-1X{userid}][%-1X{prcscd}][%C:%L][%m]%n ]]>
		</property>

		<!-- 批量交易日志 -->
		<property name="bat_pattern">
			<!-- 批量交易中 jiaoyirq-交易日期 、pljypich-批次号、pljyzbsh-交易组ID、pljylcbs-流程ID -->
		  <![CDATA[ [%-5p][%d{HH:mm:ss,SSS}][%t][%-1X{token}][%-1X{taskid}][%-1X{jobid}][%t][%C:%L][%m]%n ]]>
		</property>

		<!-- 联机或批量日志 [%-1X{transDate}] -->
		<property name="onl_bat_pattern">
		  <![CDATA[ [%-5p] [%d{HH:mm:ss,SSS}][%t][%-1X{token}][%-1X{transSeq}][%-1X{taskid}][%-1X{jobid}][%-1X{prcscd}][%C:%L][%m]%n ]]>
		</property>
 
		<!-- 如果定义目录层级的变量为空，则采用默认变量替代，避免程序异常 -->
		<property name="transDate">transDate</property>
		<property name="flowid">flowid</property>
		<property name="trans_group">trans_group</property>
		<property name="transid">transid</property>
		<property name="prcscd">prcscd</property>
	</Properties>


	<!-- 
		 日志级别顺序，可以调整自定义级别的intLevel，从而调整顺序
		 
		 =======================================================================================================
	     OFF(0) << FATAL(100) << ERROR(200) << WARN(300) << 
	     SQLINFO/SERVICE(320) << SQL(330) << PROFILE(350) << DATAAREA(360) << METHOD/TECH_METHOD(370) << 
		 INFO(400) <<    
		 PARM(450) << 
		 DEBUG(500), TRACE(600),ALL(Integer.MAX_VALUE)
		 =======================================================================================================
		 -->

	<CustomLevels>
		<CustomLevel name="SQLIF" intLevel="320" /><!-- sql调用信息日志 -->
		<CustomLevel name="SVC" intLevel="325" /><!-- 服务调用信息日志 -->
		<CustomLevel name="SQL" intLevel="330" /><!-- sql语句日志 -->
		<CustomLevel name="PROF" intLevel="350" /><!-- 性能统计日志 -->
		<CustomLevel name="DAREA" intLevel="360" /><!-- 数据区日志 -->
		<CustomLevel name="METHD" intLevel="370" /><!-- 方法日志 -->
		<CustomLevel name="TECH" intLevel="370" /><!-- 技术方法日志 -->
		<CustomLevel name="PARM" intLevel="450" /><!-- 参数日志 -->
	</CustomLevels>

	<Appenders>

		<Routing name="busi_route">
			<Routes pattern="$${ctx:ltts_log_type}">
				<!-- <Route key="boot" ref="boot_all" />
				<Route key="poll" ref="poll_thread" />
				<Route key="timer" ref="timer_quartz" />
				<Route key="domain" ref="domain" />
				<Route key="links" ref="links" />
				<Route key="biz.onl" ref="busi_onl" />
				<Route key="biz.job" ref="busi_job" /> -->
				<!-- 默认路由日志 -->
<!-- 				<Route ref="default" />  -->
				<Route ref="busi_console" />
			</Routes>
		</Routing>
		<Console name="busi_console">
			<PatternLayout>
				<Pattern>[%d] [%p] [%C:%L] [%t] [%m]%n</Pattern>
			</PatternLayout>
		</Console>
		
		<!-- 根据日志类型路由不同的日志文件 -->
		<Routing name="profile_route">
			<Routes pattern="$${ctx:systemType}">
				<!-- 默认路由日志 -->
				<Route ref="default" />
				<!-- 联机交易日志 -->
				<Route key="onl" ref="profile_onl" />
				<!-- 批量交易日志 -->
				<Route key="batch" ref="profile_bat" />
			</Routes>
		</Routing>
		
		<!-- 平台默认日志 （按天滚动） -->
		<RollingFile name="default" 
			fileName="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/default/ltts_default.log" 
			filePattern="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/default/ltts_default.log.%d{yyyy-MM-dd}-%i.gz"
			immediateFlush="false" bufferSize="${buffer_size}" >
			<PatternLayout pattern="${default_pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="60MB" /> 
			</Policies>
			<DefaultRolloverStrategy min="1" max="999" />
		</RollingFile>

		<!-- 业务联机交易日志 -->
		<Routing name="busi_onl">
			<Routes pattern="$${ctx:transDate}_$${ctx:prcscd}">
				<Route>
					<!--动态appender -->
					<RollingFile name="busi_onl_$${ctx:transDate}_$${ctx:prcscd}" 
						fileName="${sys:ltts.log.home}/${sys:ltts.vmid}/busi/${ctx:transDate}/${ctx:prcscd}/${ctx:prcscd}.log"
						filePattern="${sys:ltts.log.home}/${sys:ltts.vmid}/busi/${ctx:transDate}/${ctx:prcscd}/${ctx:prcscd}.log.%d{yyyy-MM-dd}-%i.gz" 
						immediateFlush="false" bufferSize="${buffer_size}" >
						<PatternLayout pattern="${onl_pattern}" />
						<Policies>
							<TimeBasedTriggeringPolicy />
							<SizeBasedTriggeringPolicy size="60MB" />
						</Policies>
						<DefaultRolloverStrategy min="1" max="999" />
					</RollingFile>
				</Route>
			</Routes>
			<!-- 15分钟内如果文件没有任何操作，则清理掉 -->
			<IdlePurgePolicy timeToLive="${dynamic_log_live_time}" timeUnit="minutes" />
		</Routing>

		<!-- 业务批量作业日志 -->
		<Routing name="busi_job">
			<Routes pattern="$${ctx:transDate}/$${ctx:flowid}/$${ctx:trans_group}/$${ctx:transid}/$${ctx:jobid}">
				<Route>
					<!--动态appender -->
					<RollingFile name="busi_job_$${ctx:transDate}/$${ctx:flowid}/$${ctx:trans_group}/$${ctx:transid}/$${ctx:jobid}" 
						fileName="${sys:ltts.log.home}/${sys:ltts.vmid}/busi/${date:yyyy-MM-dd}/${ctx:flowid}/${ctx:trans_group}/${ctx:transid}/${ctx:jobid}.log"
						filePattern="${sys:ltts.log.home}/${sys:ltts.vmid}/busi/${ctx:transDate}/${ctx:flowid}/${ctx:trans_group}/${ctx:transid}/${ctx:jobid}.log.%d{yyyy-MM-dd}-%i.gz" immediateFlush="false"
						bufferSize="${buffer_size}" >
						<PatternLayout pattern="${bat_pattern}" />
						<Policies>
							<TimeBasedTriggeringPolicy />
							<SizeBasedTriggeringPolicy size="60MB" />
						</Policies>
						<DefaultRolloverStrategy min="1" max="99" />
					</RollingFile>
				</Route>
			</Routes>
			<!-- 15分钟内如果文件没有任何操作，则清理掉 -->
			<IdlePurgePolicy timeToLive="${dynamic_log_live_time}" timeUnit="minutes" />
		</Routing>
	
		<!-- 任务执行域日志 -->
		<Routing name="domain">
			<Routes pattern="$${ctx:transDate}">
				<Route>
					<RollingFile name="domain_$${ctx:transDate}" 
						fileName="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/task_domain/${ctx:transDate}/ltts_domain.log" 
						filePattern="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/task_domain/${ctx:transDate}/ltts_domain.log.%d{yyyy-MM-dd}-%i.gz"
						immediateFlush="false" bufferSize="${buffer_size}" >
						<PatternLayout pattern="${onl_bat_pattern}" />
						<Policies>
							<TimeBasedTriggeringPolicy />
							<SizeBasedTriggeringPolicy size="60MB" />
						</Policies>
						<DefaultRolloverStrategy min="1" max="999" />
					</RollingFile>
				</Route>
			</Routes>
			<!-- 15分钟内如果文件没有任何操作，则清理掉 -->
			<IdlePurgePolicy timeToLive="${dynamic_log_live_time}" timeUnit="minutes" />
		</Routing>
		<!-- 通讯接入日志 -->
		<Routing name="links">
			<Routes pattern="$${ctx:pckgdt}_$${ctx:kind}">
				<Route>
					<RollingFile name="link_$${ctx:pckgdt}_$${ctx:kind}" 
						fileName="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/links/${ctx:pckgdt}/link_${ctx:kind}.log" 
						filePattern="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/links/${ctx:pckgdt}/link_${ctx:kind}.log.%d{yyyy-MM-dd}-%i.gz"
						immediateFlush="false" bufferSize="${buffer_size}" >
						<PatternLayout pattern="${default_pattern}" />
						<Policies>
							<TimeBasedTriggeringPolicy />
							<SizeBasedTriggeringPolicy size="60MB" />
						</Policies>
						<DefaultRolloverStrategy min="1" max="999" />
					</RollingFile>
				</Route>
			</Routes>
			<!-- 15分钟内如果文件没有任何操作，则清理掉 -->
			<IdlePurgePolicy timeToLive="${dynamic_log_live_time}" timeUnit="minutes" />
		</Routing>

		<!-- 轮询线程日志 -->
		<Routing name="poll_thread">
			<Routes pattern="$${ctx:kind}">
				<Route>
					<!--动态appender -->
					<RollingFile name="poll_thread_${ctx:kind}" 
						fileName="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/poll/${ctx:kind}/${ctx:kind}.log" 
						filePattern="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/poll/${ctx:kind}/${ctx:kind}.log.%d{yyyy-MM-dd}-%i.gz"
						immediateFlush="false" bufferSize="${buffer_size}" >
						<PatternLayout pattern="${default_pattern}" />
						<Policies>
							<TimeBasedTriggeringPolicy />
							<SizeBasedTriggeringPolicy size="60MB" />
						</Policies>
						<DefaultRolloverStrategy min="1" max="999" />
					</RollingFile>
				</Route>
			</Routes>
			<!-- 15分钟内如果文件没有任何操作，则清理掉 -->
			<IdlePurgePolicy timeToLive="${dynamic_log_live_time}" timeUnit="minutes" />
		</Routing>
	
		<!-- 定时任务日志 -->
		<Routing name="timer_quartz">
			<Routes pattern="$${ctx:kind}">
				<Route>
					<!--动态appender -->
					<RollingFile name="biz_timer_${ctx:kind}" 
						fileName="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/timer_busi/${ctx:kind}/${ctx:kind}.log"
						filePattern="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/timer_busi/${ctx:kind}/${ctx:kind}.log.%d{yyyy-MM-dd}-%i.gz" 
						immediateFlush="false" bufferSize="${buffer_size}" >
						<PatternLayout pattern="${default_pattern}" />
						<Policies>
							<TimeBasedTriggeringPolicy />
							<SizeBasedTriggeringPolicy size="60MB" />
						</Policies>
						<DefaultRolloverStrategy min="1" max="99" />
					</RollingFile>
				</Route>
			</Routes>
			<!-- 15分钟内如果文件没有任何操作，则清理掉 -->
			<IdlePurgePolicy timeToLive="${dynamic_log_live_time}" timeUnit="minutes" />
		</Routing>

		<!-- 启动日志 完整过程 （按天滚动） -->
		<RollingFile name="boot_all" 
			fileName="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/boot/ltts_boot_all.log" 
			filePattern="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/boot/ltts_boot_all.log.%d{yyyy-MM-dd}-%i.gz"
			immediateFlush="false" bufferSize="${buffer_size}" >
			<PatternLayout pattern="${default_pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="60MB" />
			</Policies>
			<DefaultRolloverStrategy min="1" max="999" />
		</RollingFile>

		<!-- 调优日志 （联机、批量、路由） -->
		<RollingFile name="profile_onl" fileName="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/monitor/profile/ltts_profile.log" 
			filePattern="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/monitor/profile/ltts_profile.log.%d{yyyy-MM-dd}-%i.gz"
			immediateFlush="false" bufferSize="${buffer_size}" >
			<PatternLayout pattern="${onl_pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="60MB" />
			</Policies>
			<DefaultRolloverStrategy min="1" max="999" />
		</RollingFile>

		<RollingFile name="profile_bat" fileName="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/monitor/profile/ltts_profile.log"
		 	filePattern="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/monitor/profile/ltts_profile.log.%d{yyyy-MM-dd}-%i.gz"
			immediateFlush="false" bufferSize="${buffer_size}" >
			<PatternLayout pattern="${bat_pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="60MB" />
			</Policies>
			<DefaultRolloverStrategy min="1" max="999" />
		</RollingFile>

		<RollingFile name="pkg" fileName="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/pkg/ltts_pkg.log" filePattern="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/pkg/ltts_pkg.log.%d{yyyy-MM-dd}-%i.gz">
			<PatternLayout pattern="${onl_pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="60MB" />
			</Policies>
			<DefaultRolloverStrategy min="1" max="999" />
		</RollingFile>

		<!-- 慢sql打印 -->
		<RollingFile name="slowsql" 
			fileName="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/monitor/slowsql/ltts_slowsql.log" 
			filePattern="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/monitor/slowsql/ltts_slowsql.log.%d{yyyy-MM-dd}-%i.gz"
			immediateFlush="false" bufferSize="${buffer_size}" >
			<!-- 
			@simple@
			过滤特定SQL不打印 ,例如：kdgl_zhminx的相关SQL统一不打印
			<RegexFilter regex=".*kdgl_zhminx.*" onMatch="DENY" onMismatch="NEUTRAL" />-->
			
			<PatternLayout pattern="${onl_bat_pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="60MB" />
			</Policies>
			<DefaultRolloverStrategy min="1" max="999" />
		</RollingFile>
		
		<RollingFile name="error" 
			fileName="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/error/ltts_error.log" 
			filePattern="${sys:ltts.log.home}/${sys:ltts.vmid}/sys/error/ltts_error.log.%d{yyyy-MM-dd}-%i.gz"
			immediateFlush="false" bufferSize="${buffer_size}" >
			<PatternLayout pattern="${onl_bat_pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="60MB" />
			</Policies>
			<DefaultRolloverStrategy min="1" max="999" />
		</RollingFile>
	</Appenders>

	<Loggers> 

		<!-- 一些漏网之鱼，原则该文件应该为空 -->
		<AsyncRoot level="${other_log_level}" additivity="true" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncRoot>
		
		<!-- 业务日志(所有业务日志统一从这里打印) -->
		<AsyncLogger name="biz" level="${biz_log_level}" additivity="false" includeLocation="${enable_log_location}">
			<Filters>
				<!--  联机业务日志级别控制  -->
				<EdspDynamicThresholdFilter types="biz.onl" defaultThreshold="${biz_onl_log_level}" onMatch="ACCEPT" onMismatch="DENY">
					<KeyValuePair key="1" value="OFF"/>
					<KeyValuePair key="2" value="FATAL"/>
					<KeyValuePair key="3" value="ERROR"/>
					<KeyValuePair key="4" value="WARN"/>
					<KeyValuePair key="5" value="SQLIF"/> 
					<KeyValuePair key="6" value="SVC" />
					<KeyValuePair key="7" value="SQL" />
					<KeyValuePair key="8" value="PROF" />
					<KeyValuePair key="9" value="DAREA" />
					<KeyValuePair key="10" value="METHD" />
					<KeyValuePair key="11" value="TECH" />
					<KeyValuePair key="12" value="INFO" />
					<KeyValuePair key="13" value="PARM" />
					<KeyValuePair key="14" value="DEBUG" />
					<KeyValuePair key="15" value="TRACE" />
				</EdspDynamicThresholdFilter>
				<!--  批量业务日志级别控制  -->
				<EdspDynamicThresholdFilter types="biz.job"  defaultThreshold="${biz_bat_log_level}" onMatch="ACCEPT" onMismatch="DENY">
					<KeyValuePair key="1" value="OFF"/>
					<KeyValuePair key="2" value="FATAL"/>
					<KeyValuePair key="3" value="ERROR"/>
					<KeyValuePair key="4" value="WARN"/>
					<KeyValuePair key="5" value="SQLIF"/> 
					<KeyValuePair key="6" value="SVC" />
					<KeyValuePair key="7" value="SQL" />
					<KeyValuePair key="8" value="PROF" />
					<KeyValuePair key="9" value="DAREA" />
					<KeyValuePair key="10" value="METHD" />
					<KeyValuePair key="11" value="TECH" />
					<KeyValuePair key="12" value="INFO" />
					<KeyValuePair key="13" value="PARM" />
					<KeyValuePair key="14" value="DEBUG" />
					<KeyValuePair key="15" value="TRACE" />
				</EdspDynamicThresholdFilter>    
			</Filters>
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
	
		<!--启动相关日志  -->
		<AsyncLogger name="cn.sunline.edsp.microcore" level="info" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		
		<AsyncLogger name="monitor" level="error" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		

		<!-- 系统日志(只能控制到非专项日志) -->
		<AsyncLogger name="sys" level="${sys_log_level}" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>

		<!-- 系統-专项日志(基础平台) -->
		<AsyncLogger name="sys.boot" level="info" additivity="false" includeLocation="${enable_log_location}">
			<!--<AppenderRef ref="boot" />-->
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		<!-- 国际化专项日志 -->
		<AsyncLogger name="sys.boot.cn.sunline.ltts.core.api.language.LanguageConfigManager" level="error" additivity="false" includeLocation="${enable_log_location}">
			 <!--<AppenderRef ref="boot" />-->
			<AppenderRef ref="busi_route" />
		</AsyncLogger>

		<AsyncLogger name="sys.onl.pkg" level="${pkg_log_level}" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="pkg" />
		</AsyncLogger>

		<AsyncLogger name="sys.profile" level="${profile_log_level}" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="profile_route" />
		</AsyncLogger>

		<AsyncLogger name="sys.slowSql" level="info" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="slowsql" />
		</AsyncLogger>
		
		<!-- 系统错误，错误日志也打印到父类log中-->
		<AsyncLogger name="sys.error" level="info" additivity="true" includeLocation="${enable_log_location}">
			<AppenderRef ref="error" />
		</AsyncLogger>
		 
		<!-- for JDBC 最新架构 -->
		<AsyncLogger name="jdbc.audit" level="FATAL" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />

		</AsyncLogger>
		<AsyncLogger name="jdbc.resultset" level="FATAL" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />

		</AsyncLogger>
		<!-- 如果要打印具体的SQL日志，这个必须为debug -->
		<AsyncLogger name="jdbc.sqlonly" level="debug" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />

		</AsyncLogger>
		<AsyncLogger name="jdbc.sqltiming" level="FATAL" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />

		</AsyncLogger>

		<AsyncLogger name="jdbc.connection" level="FATAL" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />

		</AsyncLogger>
		<AsyncLogger name="log4jdbc.debug" level="FATAL" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		<!-- for JDBC -->

		<!-- for ibatis -->
		<AsyncLogger name="org.apache.ibatis" level="error" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		<!-- for ibatis -->
		
		<AsyncLogger name="org.apache.zookeeper" level="error" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		

		<!-- for 屏蔽第三方日志 -->
		
		<!-- 如果log4j自身的异常，则打印到sys/error日志中 -->
		<AsyncLogger name="org.apache.logging.log4j.status.StatusLogger" level="${log4j_log_level}" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="error" />
		</AsyncLogger>

		<AsyncLogger name="org.springframework" level="ERROR" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		<AsyncLogger name="org.mortbay" level="ERROR" additivity="false" includeLocation="true">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		<AsyncLogger name="freemarker" level="ERROR" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		<AsyncLogger name="com.solacesystems" level="FATAL" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		<AsyncLogger name="com.solacesystems.jcsmp.protocol.impl" level="FATAL" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		<AsyncLogger name="com.solacesystems.jcsmp.impl" level="FATAL" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		<AsyncLogger name="org.eclipse.jetty" level="INFO" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		<AsyncLogger name="org.quartz" level="ERROR" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		<AsyncLogger name="org.joda" level="ERROR" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		<AsyncLogger name="org.apache.commons" level="ERROR" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		<AsyncLogger name="net.sf.jasperreports" level="ERROR" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>
		<AsyncLogger name="org.apache.ibatis.logging.jdbc.BaseJdbcLogger" level="ERROR" additivity="false" includeLocation="${enable_log_location}">
			<AppenderRef ref="busi_route" />
		</AsyncLogger>

		<!-- for 屏蔽第三方日志 -->
		<AsyncLogger name="monitor" level="error" additivity="false" includeLocation="${enable_log_location}">
		    <AppenderRef ref="busi_route" />
		</AsyncLogger>
	</Loggers>

</Configuration>
